rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isUserAuthenticated(userID) {
      return request.auth != null && request.auth.uid == userID;
    }

    function incomingData() {
      return request.resource.data;
    }

    function exitingQuestions(roomID) {
      return exists(/databases/$(database)/documents/lives/$(roomID));
    }

    match /users/{userID} {
      allow read: if isUserAuthenticated(userID);

      allow create: if isUserAuthenticated(userID) &&
        incomingData().name is string &&
        incomingData().name.size() > 0 &&
        incomingData().name.size() <= 20 &&
        incomingData().joinedRooms is list &&
        joinedRooms().joinedRooms.size() == 0 &&
        incomingData().createdAt is timestamp &&
        incomingData().createdAt == request.time &&
        incomingData().updatedAt is timestamp &&
        incomingData().updatedAt == request.time;

      allow update: if isUserAuthenticated(userID) &&
        incomingData().joinedRooms is list &&
        incomingData().updatedAt is timestamp &&
        incomingData().updatedAt == request.time;
    }

    match /rooms/{roomID} {
      allow read: if isAuthenticated();

      allow create: if isAuthenticated() &&
        incomingData().currentTime is number &&
        incomingData().currentTime == 0 &&
        incomingData().hostId is string &&
        incomingData().hostId == request.auth.uid &&
        incomingData().listCnt is number &&
        incomingData().listCnt == 0 &&
        incomingData().password is string &&
        incomingData().privateRoom is bool &&
        incomingData().play is bool &&
        incomingData().play == false &&
        incomingData().playNow is number &&
        incomingData().playNow == 0 &&
        incomingData().videoId is list &&
        incomingData().videoId.size() == 0 &&
        incomingData().roomName is string &&
        incomingData().roomName.size() > 0 &&
        incomingData().roomName.size() <= 50 &&
        incomingData().createdAt is timestamp &&
        incomingData().createdAt == request.time &&
        incomingData().updatedAt is timestamp &&
        incomingData().updatedAt == request.time;

      allow update: if isAuthenticated() &&
        exitingQuestions(roomID) &&
        incomingData().currentTime is number &&
        incomingData().listCnt is number &&
        incomingData().play is bool &&
        incomingData().playNow is number &&
        incomingData().videoId is list &&
        incomingData().updatedAt is timestamp &&
        incomingData().updatedAt == request.time;

      match /changeUsers/{changeID} {
        allow read: if isAuthenticated();

        allow create: if isAuthenticated() &&
          incomingData().name is string &&
          incomingData().createdAt is timestamp &&
          incomingData().createdAt == request.time;
      }

      match /joinFlag/{flagID} {
        allow read: if isAuthenticated();

        allow create: if isAuthenticated() &&
          incomingData().uid is string &&
          incomingData().uid == request.auth.uid &&
          incomingData().createdAt is timestamp &&
          incomingData().createdAt == request.time;
      }

      match /youTubeList/{youTubeID} {
        allow read: if isAuthenticated();

        allow create: if isAuthenticated() &&
          incomingData().title is string &&
          incomingData().image is string &&
          incomingData().createdAt is timestamp &&
          incomingData().createdAt == request.time;
      }

      match /chat/{chatID} {
        allow read: if isAuthenticated();

        allow create: if isAuthenticated() &&
          incomingData().name is string &&
          incomingData().comment is string &&
          incomingData().uid is string &&
          incomingData().uid == request.auth.uid &&
          incomingData().createdAt is timestamp &&
          incomingData().createdAt == request.time;
      }

      match /status/{userID} {
        allow read: isAuthenticated();

        allow update: isUserAuthenticated(userID) &&
          incomingData().state is string &&
          incomingData().matches('online|offline') &&
          incomingData().lastChanged is timestamp &&
          incomingData().lastChanged == request.time;

        allow delete: isUserAuthenticated(userID);
      }
    }
  }
}
