rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /ogp/{allPaths=**} {
      allow read: if true;
      allow write: if false;
    }
    match /signIn/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if false;
    }
  }
}
